# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files you want to normalize
*.cs   text
*.txt  text
*.json text
*.md   text

# Declare binary files to prevent normalization
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ogg binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.mov binary
*.zip binary
*.7z binary
*.rar binary
*.exe binary
*.dll binary
*.unity binary
*.prefab binary
*.meta binary
*.shader binary